{% load static %}
<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}store{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
  </head>
  <body>
    <nav>
      <a href="{% url 'category_list' %}">main</a> /
      <a href="{% url 'add_product' %}">add product</a> /
      <a href="{% url 'add_category' %}">add category</a> /
      <a href="{% url 'register' %}">register</a> /
      <a href="{% url 'login' %}">login</a> /
    </nav>
    <hr />

    {% block content %}
    <h1 style="margin: 50px;">categories</h1>
    <ul>
      {% for category in categories %}
      <li>
        <a href="{% url 'product_list' category.id %}">
          {{ category.name }} ({{ category.products.count }})
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
