{% extends 'store/base.html' %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
<div>
  {% if product.image %}
  <img src="{{ product.image.url }}" alt="{{ product.name }}">
  {% endif %}

  <h1>{{ product.name }}</h1>
  <p>price: {{ product.price }}</p>
  <p>quantity: {{ product.quantity }}</p>
  <p>category: {{ product.category.name }}</p>
  <p>total value: {{ product.total_value }}</p>
  <div>
    <a href="{% url 'update_product' pk=product.id %}">Update Product</a> /
    <a href="{% url 'delete_product' pk=product.id %}">Delete Product</a>
  </div>
</div>
{% endblock %}